a{
    text-decoration: none;
  }
  
.btn{
    background-color: #E76F51;
}
.top-banner{
    background-color: #0a2935;
    color: white;
    width: 100%;
}  
.feature-bike1 {
    filter: grayscale(100%);
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.card-text{
    color: #6C6C6C;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 

}
.name{
    font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;
color: #23A6F0;
}
.designation{
    font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;

/* text-color */

color: #252B42;
}



